### Python Version

In [ ]:
import sys
print(sys.version)

3.7.14 (default, Sep  8 2022, 00:06:44)
[GCC 7.5.0]

In [ ]:
!python ‐‐version

python3: can't open file '‐‐version': [Errno 2] No such file or directory

In [ ]:
print("Hello,World")

Hello,World

### Python Indentation

Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.

In [ ]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [ ]:
if 5 > 2:
  print("Five is greater than two!") 
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

### Python Variables

In Python, variables are created when you assign a value to it

Variables are containers for storing data values.

In [ ]:
x = 5
y = "Hello, World!"

Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [ ]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

*Casting* -

If you want to specify the data type of a variable, this can be done with casting.

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [ ]:
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

Variable names are case-sensitive.

In [ ]:
a = 4
A = "Sally"
#A will not overwrite a

In [ ]:
x = "John"
# is the same as
x = 'John'

Snake Case


Each word is separated by an underscore character

In [ ]:
my_variable_name = "John"

Assign Multiple Values

Many Values to Multiple Variables

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

Output Variables

The Python print() function is often used to output variables.

In [ ]:
x = "Python is awesome"
print(x)

Python is awesome

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [ ]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [ ]:
x = 5
y = 10
print(x + y)

15

In [ ]:
x = 5
y = "John"
print(x + y)

TypeError: ignored

### Python Comments

Comments can be used to explain Python code.

Comments can be used to make the code more readable.

Comments can be used to prevent execution when testing code.

In [ ]:
#This is a comment
print("Hello, World!")

Hello, World!

In [ ]:
print("Hello, World!") #This is a comment

Hello, World!

In [ ]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

Multi Line Comments


Python does not really have a syntax for multi line comments.

To add a multiline comment you could insert a # for each line:

In [ ]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

### Python Data Types

Text Type:	str

Numeric Types:	int, float, complex

Sequence Types:	list, tuple

Mapping Type:	dict

Boolean Type:	bool

In [ ]:
x = "Hello World"	#str	
x = 20	#int	
x = 20.5	#float	
x = 1j	#complex	
x = ["apple", "banana", "cherry"]	#list	
x = ("apple", "banana", "cherry")	#tuple	
x = range(6)	#range	
x = {"name" : "John", "age" : 36}	#dict	
x = {"apple", "banana", "cherry"}	#set	
x = True #bool

### Python Strings

Strings in python are surrounded by either single quotation marks, or double quotation marks.

In [ ]:
print("Hello")
print('Hello')

Hello
Hello

In [ ]:
a = "Hello"
print(a)

Hello

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Strings are Arrays

Python does not have a character data type, a single character is simply a string with a length of 1.

In [ ]:
a = "Hello, World!"
print(a[1])

e

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
a = "Hello, World!"
print(len(a))

13

In [ ]:
txt = "The best things in life are free!"
print("free" in txt)

True

Slicing
You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string

In [ ]:
b = "Hello, World!"
print(b[2:5])

llo

In [ ]:
b = "Hello, World!"
print(b[2:6])

llo,

In [ ]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [ ]:
b = "Hello, World!"
print(b[-5:-2])

orl

Modify Strings

In [ ]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']